*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE DI DEBUG --------------------------------- */

/* HEADER ------------------------------------------ */

.debug header div,
.debug nav {
    border: 2px dashed #000000;
}

.debug header .col-nav {
    border: 2px dashed solid #FFFFFF;
}

.debug header .col-nav-left{
    /* height: 30px; */
    /* width: 200px; */
    /* background-color: yellow; */
}

.debug header .col-nav-mid{
    /* height: 50px; */
    /* background-color: blue; */
    /* width: 500px; */
}

.debug header .col-nav-right{
    /* height: 20px; */
    /* background-color: brown; */
    /* width: 700px; */
}

.debug header .nav-left-content{
    /* height: 20px;
    width: 100px; */
    /* background-color: rebeccapurple; */
}

.debug header .nav-right-content{
    /* height: 20px;
    width: 100px; */
    /* background-color: rebeccapurple; */
    /* margin-left: auto; */
}

.debug header .nav-mid-content{
    /* height: 50px;
    width: 200px; */
}


/* MAIN -------------------------------------------- */

.debug main .main-content,
.debug .main-container,
.debug .feature-container{
    border: 2px dashed #000000;
}

.debug main .main-content{
    /* background-color: red; */
}

.debug main .main-content-img{
    /* width: 640px;*/
    /* height: 462px;  */
    /* background-color: #FF6900; */
}

.debug main .main-content-text{
    /* height: 80px; */
    /* background-color: blue; */
}

.debug main .discount{
    /* background-color: red; */
}

.debug main .green{
    /* background-color: green; */
}

.debug main .like-icon{
    /* height: 15px;
    width: 15px; */
    /* background-color: #FFFFFF; */
}

/* FOOTER ------------------------------------------ */

.debug footer .footer-container,
.debug .footer-credits-container,
.debug .footer-links-container{
    border: 2px dashed #FFFFFF;
}

.debug footer .footer-credits-container{
    /* background-color: #FF6900; */
}

.debug footer .footer-links-container{
    /* background-color: aqua; */
}

.debug footer .footer-credits-content{
    /* background-color: violet; */
    /* height: 20px; */
    /* width: 200px; */
}

.debug footer .footer-links-content{
    /* background-color: yellow; */
    /* height: 50px;
    width: 200px; */
}

/* REGOLE DI CSS ----------------------------------- */

.container-centered{
    width: 1170px;
    margin: 0 auto;
}

.font-sans-serif{
    font-family: sans-serif;
}

.horizontal-list{
    display: flex;
    list-style: none;
    font-size: 12px;
}


.white-link a{
    color: #FFFFFF;
    text-decoration: none;
}

/* HEADER ------------------------------------------ */


header{
    height: 100px;
    background-color: #FF6900;
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.col-nav{
    width: calc(100% / 3);
}


.nav-left-content li{
    margin-right: 8px;
}

.nav-left-content a{
    padding: 5px 0px;
}

.nav-right-content ul{
    justify-content: flex-end;
}

.nav-right-content li{
    margin-left: 5px;
}

.nav-left-content a{
    margin: 0 4px;
}

.nav-mid-content{
    display: block;
    margin: 0 auto;
    height: 25px;
}


nav i{
    font-size: 12px;
}



/* MAIN -------------------------------------------- */

.main-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-content{
    width: calc(100% / 3);
    padding: 15px;
}

.main-content-img{
    width: 100%;
    position: relative;
}


.img-preview1{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.img-preview2{
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
}


.feature-container{
    position: absolute;
    left: 0px;
    bottom: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

.discount{
    height: 100%;
    float: left;
    margin-right: 5px;
    padding: 4px;
    background-color: #FF0000;
}

.green{
    height: 100%;
    float: left;
    padding: 4px;
    background-color: #008000;
}

.like-icon{
    position: absolute;
    top: 10px;
    right: 0px;
    color: #000000;
    padding: 8px;
    background-color: #FFFFFF;
}


.main-content-text-brand{
    font-size: 12px;
}

.main-content-text-name{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-content-text-price{
    font-size: 12px;
    font-weight: 700;
    color: #FF0000;
    display: inline-block;
}

.main-content-text-price::after{
    content: '\00A0\20AC';
}

.main-content-text-oldprice{
    font-size: 12px;
    text-decoration: line-through;
    display: inline-block;
}

.main-content-text-oldprice::after{
    content: '\00A0\20AC';
}


/* FOOTER ------------------------------------------ */

footer{
    height: 150px;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.footer-container{
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.footer-credits-container{
    width: calc(100% / 2);
}

.footer-credits-company{
    font-weight: bold;
}

.footer-credits-content li{
    margin: 8px 12px 0 0;
}


.footer-links-container{
    width: calc(100% / 2);
    text-align: right;
}

.footer-links-content{
    margin-left: auto;
}

.footer-links-content ul{
    justify-content: flex-end;
}

.footer-links-content li{
    font-size: 14px;
    margin: 8px 0px 0px 10px;
}

.footer-links-content-heading{
    margin-right: 10px;
    font-size: 12px;
}


